In [2]:
import pickle
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import warnings
warnings.filterwarnings('ignore')

In [3]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40, 
    'Tenure':3, 
    'Balance':60000, 
    'NumOfProducts':2, 
    'HasCrCard':1,
    'IsActiveMember':1, 
    'EstimatedSalary':50000
}

In [4]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [6]:
model = load_model('model.h5')

In [7]:
## let's unpickle the pickle files

with open('gender_label_encoder.pkl','rb') as file:
    gender_label_encoder = pickle.load(file)


with open('transformer.pkl','rb') as file:
    transformer = pickle.load(file)

In [8]:
df = pd.DataFrame(input_data,index=[0])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [9]:
df['Gender'] = gender_label_encoder.transform(df['Gender'])

In [10]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [11]:
transformed_data = transformer.transform(df)

In [12]:
pd.DataFrame(transformed_data).shape

(1, 11)

In [15]:
prediction = model.predict(transformed_data)

1/1 [==============================] - 0s 40ms/step

In [16]:
prediction

array([[0.08287177]], dtype=float32)

In [21]:
prediction_prob = prediction[0][0]
prediction_prob

0.08287177

In [20]:
if prediction_prob>0.5:
    print("Customer is likely to churn")
else:
    print("Customer is NOT likely to churn")

Customer is NOT likely to churn